<nav>
        <div class="navpad parallax-gs z-depth-1">
          <a href="#" class="brand-logo left grey-text">Amazie</a>
          <div class="right">
            <ul id="nav-mobile">
                <li><a href="#!" class="blue-text">Home</a></li>
                <li><a href="#!" class="blue-text">Contact</a></li>
                <li><a href="#!" class="blue-text">About</a></li>
              </ul>
          </div>
        </div>
      </nav>

<header class="grey-text parallax-gs center">
            <h1 class="light-text">
                <span class="yellow-text">A</span>
                <span class="blue-text">m</span>
                <span class="yellow-text">a</span>
                <span class="blue-text">z</span>
                <span class="blue-text">i</span>
                <span class="blue-text">e</span>
            </h1>
            <h3 class="light-text blue-text text-darken-2">Material and amazing</h3>
    </header>
    <main class="parallax-gs blue-text">
        <aside class="left">
            <!--content-->
            {{ page.content }}
        </aside>
        <aside class="right">
            <!--side nav 1-->
            {{ page.sidebar_first }}
        </aside>

        <aside class="right">
            <!--side nav 2-->
            {{ page.sidebar_second }}
        </aside>
    </main>
    <div class="out-full grey darken-3 parallax-gs grey-text">
        <div class="in-left fill-30 z-depth-4">
            <div class="center container">
                <h4 class="yellow-text">About</h4>
                <div class="blue-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nisi autem nostrum eos maiores, inventore, adipisci ullam odit dolore nemo ratione maxime ut mollitia tenetur explicabo pariatur dolor, officia ea?dolor sit amet consectetur adipisicing elit. Eveniet nisi autem nostrum eos maiores, inventore, adipisci ullam odit dolore nemo ratione maxime ut mollitia tenetur explicabo pariatur dolor, officia ea?</div>
            </div>
        </div>
        <div class="in-right fill-70 z-depth-4">
            <div class="center container">
                <h4 class="yellow-text">Contact</h4>
                <div class="blue-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet provident, doloribus accusantium eius ipsum optio similique nesciunt enim a labore molestias sed voluptas explicabo, ea ratione voluptates aspernatur ad eos blanditiis placeat ut quos nostrum totam quaerat! Eligendi, tempora soluta dicta quos, repellendus aliquam atque asperiores vel modi, in suscipit quas consequatur nam velit eaque ipsum corporis voluptate nobis. Quam quis repudiandae voluptatibus magni tenetur totam quia neque possimus a impedit corporis quaerat itaque, velit aliquam omnis ducimus quas corrupti.
            </div>
            </div>
        </div>
    </div>
    <div class="out-full grey darken-3 parallax-gs">
            <div class="in-left fill-70 z-depth-4">
                    <div class="center container">
                        <h4 class="yellow-text">Google Code-in</h4>
                        <div class="blue-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nisi autem nostrum eos maiores, inventore, adipisci ullam odit dolore nemo ratione maxime ut mollitia tenetur explicabo pariatur dolor, officia ea?dolor sit amet consectetur adipisicing elit. Eveniet nisi autem nostrum eos maiores, inventore, adipisci ullam odit dolore nemo ratione maxime ut mollitia tenetur explicabo pariatur dolor, officia ea?</div>
                    </div>
                </div>
                <div class="in-right fill-30 z-depth-4">
                    <div class="center container">
                        <h4 class="yellow-text">Drupal</h4>
                        <div class="blue-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet provident, doloribus accusantium eius
                         ipit quas consequatur nam velit eaque ipsum co
                         rporis voluptate nobis. Quam quis repudiandae voluptatibus magni tenetur totam quia neque possimus a 
                          corporis quaerat itaque, velit aliquam omnis ducimus quas corrupti.
                    </div>
                    </div>
                </div>
    </div>
    <footer class="parallax-gs center ">
        {{ page.footer }}
    </footer>